
.ipynb_checkpoints/connections-checkpoint.ipynb
__pycache__/alldef.cpython-38.pyc
__pycache__/gen_relationships.cpython-38.pyc
.ipynb_checkpoints/model Power 2.0-checkpoint.ipynb
.ipynb_checkpoints/2.2 but not ideal-checkpoint.ipynb
.ipynb_checkpoints/sort-checkpoint.ipynb
.ipynb_checkpoints/xlsx_to_dict-checkpoint.ipynb
